footer {
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px auto;
  background-color: #011627;
  padding-top: 10px;
  margin-bottom: 0;
  position: absolute;
  bottom: 0;
}

.footer-links {
  width: 30%;
  margin-left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
}

.footer-links li a {
  color: white;
  margin: 0 10px;
}

.footer-links li a :hover {
  color: #848fa5;
}
