.Contact {
  width: 80%;
  max-width: 500px;
  padding-bottom: 60px;
  margin-bottom: 40px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

input,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  resize: none;
  border: 1px solid lightgray;
  font-size: 16px;
}

button.send-btn {
  width: 100%;
}

.contact-icons {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.contact-icons a {
  margin: 5px;
  padding: 5px;
}

.contact-icons a .icon {
  color: #0a1128;
  font-size: 30px;
}
